<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>company</param-name>
        <param-value>XYZ Ltd.</param-value>
    </context-param>
    
    
    <servlet>
        <servlet-name>AddressInfo</servlet-name>
        <servlet-class>AddressInfo</servlet-class>
        <init-param>
            <param-name>street</param-name>
            <param-value>ABRoad</param-value>
        </init-param>
        <init-param>
            <param-name>city</param-name>
            <param-value>Delhi</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>MeetingInfo</servlet-name>
        <servlet-class>MeetingInfo</servlet-class>
        <init-param>
            <param-name>meeting-place</param-name>
            <param-value>Chennai</param-value>
        </init-param>
        <init-param>
            <param-name>meeting-date</param-name>
            <param-value>16-Dec-18</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddressInfo</servlet-name>
        <url-pattern>/AddressInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeetingInfo</servlet-name>
        <url-pattern>/MeetingInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
